[Unit]
Description=Conan Exiles Server
BindsTo=network.target
After=network.target

[Service]
Environment="WINEPREFIX=/home/{{ conan_user }}/.wine64 "
Environment="WINEARCH=win64"
ExecStart=xvfb-run --auto-servernum --server-args="-screen 1 640x480x24:32" /usr/bin/wine64 /home/"{{ conan_user }}"/exiles/ConanSandboxServer.exe -log -useallavailablecores
User={{ conan_user }}
Group={{ conan_group }}
CPUAffinity=0 1 2 3 4 5 6 7
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=75
CPUSchedulingResetOnFork=false
NUMAPolicy=preferred
IOSchedulingClass=best-effort
IOSchedulingPriority=2

[Install]
WantedBy=default.target
