[Unit]
Description=Conan Exiles Server
BindsTo=network.target
After=network.target

[Service]
Environment="WINEPREFIX=/home/{{ conan_user }}/.wine64 "
Environment="WINEARCH=win64"
ExecStart=/usr/bin/wine /home/"{{ conan_user }}"/exiles/ConanSandboxServer.exe -log
User={{ conan_user }}
Group={{ conan_group }}

[Install]
WantedBy=default.target
