[Unit]
Description=Conan Exiles Server
BindsTo=network.target
After=network.target

[Service]
Environment="WINEPREFIX=/home/{{ conan_user }}/.wine64"
Environment="WINEARCH=win64"
ExecStart="/home/{{ conan_user }}/exiles/start-server.sh"
User={{ conan_user }}
Group={{ conan_group }}

[Install]
WantedBy=default.target
