[URL]
Port={{ server_port }}

[OnlineSubsystemSteam]
ServerName={{ server_name }}
ServerQueryPort={{ server_query_port }}
ServerPassword={{ server_password }}

[RconPlugin]
RconEnabled=1
RconPassword={{ admin_password }}
RconPort={{ server_rcon_port }}
RconMaxKarma=60

[Core.Log]
LogStreaming=Warning off
