[URL]
Port={{ server_port }}

[OnlineSubsystem]
ServerName={{ server_name }}
ServerPassword={{ server_password }}

[OnlineSubsystemNull]
GameServerQueryPort={{ server_query_port }}

[Core.Log]
LogStreaming=Warning off

[/Script/ConanSandbox.SystemSettings]
ModFileDownload.DownloadPortOffset=2
