[URL]
Port={{ server_port }}

[OnlineSubsystem]
ServerName={{ server_name }}
ServerPassword={{ server_password }}

[OnlineSubsystemNull]
ServerQueryPort={{ server_query_port }}

[RconPlugin]
RconEnabled=1
RconPassword={{ admin_password }}
RconPort={{ server_rcon_port }}
RconMaxKarma=60

[Core.Log]
LogStreaming=Warning off
