[ConanSandbox]
UserID=steam

[/script/engine.gamesession]
MaxPlayers={{ server_max_players }}

[/script/engine.gamenetworkmanager]
TotalNetBandwidth=4000000
MaxDynamicBandwidth=100000
MinDynamicBandwidth=40000

[/Script/ConanSandbox.SystemSettings]
ModFileDownload.DownloadPortOffset=2
