[ConanSandbox]
UserID=steam

[/script/engine.gamesession]
MaxPlayers={{ server_max_players }}

[/script/engine.gamenetworkmanager]
TotalNetBandwidth=4000000
MaxDynamicBandwidth=100000
MinDynamicBandwidth=40000

[RconPlugin]
RconEnabled=1
RconPassword={{ admin_password }}
RconPort={{ server_rcon_port }}
RconMaxKarma=60
