[DevOptions.PhotonMapping]
NumIrradianceCalculationPhotons=2000
NumIrradianceCalculationPhotons=4096
IndirectPhotonSearchDistance=1000
IndirectPhotonSearchDistance=180
DirectIrradiancePhotonDensity=1024
IndirectPhotonDensity=20000
IndirectIrradiancePhotonDensity=16000

[DevOptions.StaticLightingProductionQuality]
NumHemisphereSamplesScale=100
NumDirectPhotonsScale=1
NumIndirectPhotonsScale=1
NumIndirectIrradiancePhotonsScale=1
AdaptiveBrightnessThresholdScale=.01

[DevOptions.ImportanceTracing]
NumHemisphereSamples=256 
