[AntiAliasingQuality@0]
r.MSAA.CompositingSampleCount=0

[AntiAliasingQuality@1]
r.MSAA.CompositingSampleCount=2

[AntiAliasingQuality@2]
r.MSAA.CompositingSampleCount=4

[AntiAliasingQuality@3]
r.MSAA.CompositingSampleCount=4

;----/----

[ViewDistanceQuality@0]
r.ViewDistanceScale=3.4

[ViewDistanceQuality@1]
r.ViewDistanceScale=3.6

[ViewDistanceQuality@2]
r.ViewDistanceScale=3.8

[ViewDistanceQuality@3]
r.ViewDistanceScale=4.0

;----/----

[ShadowQuality@0]
r.Shadow.CSM.MaxCascades=1
r.Shadow.MaxResolution=512
r.Shadow.DistanceScale=0.6
r.Shadow.MaxPointCasters=0
r.Shadow.CSMDepthBias=30

[ShadowQuality@1]
r.Shadow.CSM.MaxCascades=1
r.Shadow.RadiusThreshold=0.05
r.Shadow.DistanceScale=0.7
r.Shadow.MaxPointCasters=0
r.Shadow.CSMDepthBias=25

[ShadowQuality@2]
r.DistanceFieldAO=1
r.Shadow.MaxPointCasters=1
r.Shadow.CSMDepthBias=20

[ShadowQuality@3]
r.Shadow.CSM.MaxCascades=10
r.Shadow.CSM.TransitionScale=2
r.Shadow.CSMDepthBias=100
r.Shadow.MaxResolution=4096
r.Shadow.FadeExponent=0
r.Shadow.Faderesolution=1024
r.DistanceFieldAO=1
r.Shadow.PerObjectDirectionalDepthBias=10000
r.Shadow.PointLightDepthBias=10000
r.Shadow.SpotLightDepthBias=10000

;----/----

[PostProcessQuality@0]
r.AllowLandscapeShadows=0
r.HighQualityLightMaps=0
r.TonemapperQuality=1

[PostProcessQuality@1]
r.AllowLandscapeShadows=0
r.HighQualityLightMaps=0
r.TonemapperQuality=1

[PostProcessQuality@2]
r.BloomQuality=4
r.TonemapperQuality=1

[PostProcessQuality@3]
r.AmbientOcclusionLevels=2
r.DepthOfFieldQuality=4
r.RenderTargetPoolMin=1000
r.LensFlareQuality=3
r.EyeAdaptationQuality=3
r.Bloom.Cross=1
r.Tonemapper.Quality=1
r.Tonemapper.Sharpen=0.2
r.ReflectionEnvironmentLightmapMixLargestWeight=7500

;----/----

[TextureQuality@0]
r.Streaming.LimitPoolSizeToVRAM=1
r.Streaming.PoolSize=500

[TextureQuality@1]
r.Streaming.LimitPoolSizeToVRAM=1
r.Streaming.PoolSize=800

[TextureQuality@2]
r.Streaming.LimitPoolSizeToVRAM=1
r.Streaming.PoolSize=1500

[TextureQuality@3]
r.Streaming.LimitPoolSizeToVRAM=0
r.Streaming.PoolSize=3000

;----/----

[EffectsQuality@0]
r.SSS.Scale=0
r.SSS.Quality=0
r.SSS.HalfRes=1
r.ParticleLightQuality=0

[EffectsQuality@1]
r.SSS.Scale=0.75
r.SSS.Quality=0
r.SSS.HalfRes=1
r.ParticleLightQuality=0

[EffectsQuality@2]
r.ReflectionEnvironment=1
r.SubsurfaceQuality=0
r.SSS.Scale=1
r.SSS.Quality=-1
r.SSS.HalfRes=1
r.ParticleLightQuality=1

[EffectsQuality@3]
r.ReflectionEnvironment=1
r.SubsurfaceQuality=1
r.EmitterSpawnRateScale=1.5
r.SSR.Quality=4
r.SSS.Scale=1
r.SSS.Quality=1
r.SSS.HalfRes=0
r.ParticleLightQuality=2
r.FluidQuality=2

;----/----

[GraniteTextureQuality@0]
r.GraniteSDK.MipBias=1
r.GraniteSDK.MaxAnisotropy=1
r.GraniteSDK.GPUCacheSizeScale=1.0
r.GraniteSDK.CPUCacheSizeScale=1.0
r.GraniteSDK.MinGPUCacheSizeInMB=10
r.GraniteSDK.MinCPUCacheSizeInMB=10

[GraniteTextureQuality@1]
r.GraniteSDK.MipBias=0.5
r.GraniteSDK.MaxAnisotropy=2
r.GraniteSDK.GPUCacheSizeScale=3.0
r.GraniteSDK.CPUCacheSizeScale=2.0
r.GraniteSDK.MinGPUCacheSizeInMB=10
r.GraniteSDK.MinCPUCacheSizeInMB=10

[GraniteTextureQuality@2]
r.GraniteSDK.MipBias=0
r.GraniteSDK.MaxAnisotropy=4
r.GraniteSDK.GPUCacheSizeScale=5.0
r.GraniteSDK.CPUCacheSizeScale=3.0
r.GraniteSDK.MinGPUCacheSizeInMB=20
r.GraniteSDK.MinCPUCacheSizeInMB=20

[GraniteTextureQuality@3]
r.GraniteSDK.MipBias=0
r.GraniteSDK.MaxAnisotropy=8
r.GraniteSDK.GPUCacheSizeScale=10.0
r.GraniteSDK.CPUCacheSizeScale=4.0
r.GraniteSDK.MinGPUCacheSizeInMB=20
r.GraniteSDK.MinCPUCacheSizeInMB=20 
