#!/bin/bash
# Conan Exiles server initialization script.

basepath="/home/{{ conan_user }}/exiles"
tempmodpath="$basepath/modtmp"
modpath="$basepath/ConanSandbox/Mods"
modlist="$modpath/modlist.txt"
modids="$basepath/modids.txt"

# Construct the Steam command to download all the mods in a single command.
steam_command(){
  steamcmd="/usr/games/steamcmd +@sSteamCmdForcePlatformType windows +force_install_dir $tempmodpath +login anonymous"
  for mod in `cat $modids`; do
    steamcmd+=" +workshop_download_item 440900 $mod"
  done
  steamcmd+=" +workshop_status 440900 +exit"
}

# Download mods.
echo "Downloading mods from Steam."
if ! eval $steamcmd; then
  echo "Failed to download steam mods from workshop"
  exit 1
fi