#!/bin/bash
# Conan Exiles server initialization script.

basepath="/home/{{ conan_user }}/exiles"
tempmodpath="$basepath/modtmp"
modpath="$basepath/ConanSandbox/Mods"
modlist="$modpath/modlist.txt"
modids="$basepath/modids.txt"

# Construct the Steam command to download all the mods in a single command.
update_mods () {
  steamcmd="/usr/games/steamcmd +@sSteamCmdForcePlatformType windows +force_install_dir $tempmodpath +login anonymous"
  for mod in `cat $modids`; do
    steamcmd+=" +workshop_download_item 440900 $mod"
  done
  steamcmd+=" +workshop_status 440900 +exit"
  
  # Download update mods from Workshop.
  if ! eval $steamcmd; then
    echo "Failed to download mods."
    exit 1
  fi

  # Synchronize mods.
  if ! rsync -avP "$tempmodpath/steamapps/workshop/content/440900" "$modpath"; then
    echo "Failed to update mods."
    exit 1
  fi
}

update_modlist() {
  # Remove modlist if it's already present.
  if [[ -f $modlist ]]; then
    rm -fr $modlist
  fi

  for mod in `cat $modids`; do
    modloc=$(find $modpath -type d -name $mod | xargs realpath)
    modline=$(find $modloc -type f -name "*.pak" | xargs realpath)
    echo $modline >> $modlist
  done
}

# Download mods.
echo "Downloading mods from Steam."
update_mods

echo "Update modlist."
update_modlist

/usr/bin/xvfb-run --auto-servernum --server-args="-screen 1 640x480x24:32" /usr/bin/wine64 /home/"{{ conan_user }}"/exiles/ConanSandboxServer.exe -log