[Unit]
Description=VNC4 Server Service
After=network.target

[Service]
Type=oneshot

ExecStart=/usr/bin/nohup /bin/sh -c "/usr/bin/vnc-server.sh start" &>/dev/null &
ExecStop=/bin/sh -c "/usr/bin/vnc-server.sh stop"

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
